<form
  class="create-task-form"
  (ngSubmit)="submit()"
  [formGroup]="createTaskForm"
>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{
        isEdit ? "Edit task" : "Create new task"
      }}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
      <div class="fields">
        <ng-container
          *ngTemplateOutlet="taskForm; context: { formControl: createTaskForm }"
        ></ng-container>
      </div>
      <mat-divider></mat-divider>
      <div class="sub-tasks">
        <div class="header">
          <strong>Subtasks</strong>
          <button type="button" (click)="addSubtask()" mat-button>Add Subtask</button>
        </div>
        <mat-accordion>
          <mat-expansion-panel
            *ngFor="
              let taskControl of subtasks.controls;
              let subTaskIndex = index
            "
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                SubTask #{{ subTaskIndex + 1 }}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container
              *ngTemplateOutlet="
                taskForm;
                context: { formControl: taskControl, noUsers: true }
              "
            ></ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <button mat-dialog-close type="button" mat-button>Cancel</button>
      <button
        [disabled]="createTaskForm.invalid"
        type="submit"
        mat-raised-button
        color="accent"
      >
        {{ isEdit ? "Save" : "Create" }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<ng-template #taskForm let-formControl="formControl" let-noUsers="noUsers">
  <div class="subtask fields" [formGroup]="formControl ? formControl : null">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of taskStatus" [value]="status">{{
          status
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <app-user-select *ngIf="!noUsers"
      formControlName="users"
      [allUsers]="allUsers | async"
    ></app-user-select>
  </div>
</ng-template>
